.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 2rem 8%;
  margin-bottom: 2px;
}
.borderGray {
  border: 2px solid #dce2e6;
}

.container button:not(.goBack) {
  width: 174px;
  height: 48px;
  border: none;
  background: #dde9f0;
  border-radius: 10px;
  color: var(--secondary);
  font-weight: bold;
  transition: 0.5s;
  margin: 0 8px;
}

.goBack {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  height: 40px;
  margin-bottom: auto;
  margin-top: auto;
  background: none;
  border: #b5babd 1px solid;
  padding: 12px;
  border-radius: 8px;
  color: #889399;
}

.container button:hover {
  filter: brightness(95%);
}

.inputSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  height: 48px;
  width: 416px;
  background: #f5f8fa;
  border: 2px solid #dce2e6;
  box-sizing: border-box;
  border-radius: 10px;
}
.inputSearch input[type='text'] {
  width: 90%;
  height: 90%;
  background: none;
  border: none;
  font-weight: 700;
  padding: 0 4px;
}

.inputSearch input[type='text']::placeholder {
  color: #a0acb3;
}

.inputSearch svg {
  color: #a0acb3;
}

.goBack {
  background-color: #f5f8fa;
}

#btn-logout {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  background: var(--primary);
  color: white;
  filter: opacity(0.7);
}

#btn-logout:hover {
  filter: opacity(1);
}

.navDash {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: var(--secondary);
}
.navDash a {
  position: relative;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

@keyframes expand {
  from {
    width: 10%;
    left: 50%;
  }
}

.navDash a:hover {
  filter: brightness(1.1);
}
.navDash a:hover:before {
  animation: expand 0.3s ease-in-out;
  position: absolute;
  display: flex;
  justify-content: center;
  content: ' ';
  width: 100%;
  height: 2px;
  bottom: 4px;
  left: 0%;
  background: var(--primary);
}

.active:before {
  animation: expand 0.3s ease-in-out;
  position: absolute;
  display: flex;
  justify-content: center;
  content: ' ';
  width: 100%;
  height: 2px;
  bottom: 4px;
  left: 0%;
  background: var(--primary);
}

@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container img {
    margin: 8px;
  }
  .container button {
    margin: 8px;
  }
  .inputSearch {
    margin: 8px;
  }
  .navDash {
    margin: 24px 0;
  }
}
