.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 2rem 8%;
}
.borderGray {
  border: 2px solid #dce2e6;
}

.container button:not(.goBack) {
  width: 174px;
  height: 48px;
  border: none;
  background: #dde9f0;
  border-radius: 10px;
  color: var(--secundary);
  font-weight: bold;
  transition: 0.5s;
  margin: 0 8px;
}

.goBack {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  height: 40px;
  margin-bottom: auto;
  margin-top: auto;
  background: none;
  border: #b5babd 1px solid;
  padding: 12px;
  border-radius: 8px;
  color: #889399;
}

.container button:hover {
  filter: brightness(95%);
}

.inputSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  height: 48px;
  width: 416px;
  background: #f5f8fa;
  border: 2px solid #dce2e6;
  box-sizing: border-box;
  border-radius: 10px;
}
.inputSearch input[type='text'] {
  width: 90%;
  height: 90%;
  background: none;
  border: none;
  font-weight: 700;
  padding: 0 4px;
}

.inputSearch input[type='text']::placeholder {
  color: #a0acb3;
}

.inputSearch svg {
  color: #a0acb3;
}

.goBack {
  background-color: #f5f8fa;
}

@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container img {
    margin: 8px;
  }
  .container button {
    margin: 8px;
  }
  .inputSearch {
    margin: 8px;
  }
}
