@keyframes entrane {
  from {
    opacity: 0;
    transform: translate(0px, 100px);
  }
}

.places {
  animation: entrane 1s ease-in-out;
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.col:nth-child(1) {
  position: absolute;
  left: 0;
  top: -64px;
}

.col:nth-child(2) {
  position: absolute;
  right: 0;
  top: 16px;
}

.location {
  border-radius: 8px;
  box-shadow: 2px 2px 2px #c1cace;
  margin: 8px;
  width: 250px;
  height: 256px;
  overflow: hidden;
  position: relative;
  background-size: cover !important;
  cursor: pointer;
}

.location span {
  position: absolute;
  animation: entrane 1s ease-in-out;
  width: 100%;
  background-color: #dce2e5;
  bottom: 0;
  height: 60px;
  color: var(--titulos);
  padding: 0 16px;
  margin: 0;
}

.location .topInfos {
  height: 80px;
  background-color: #fcfcfc;
  text-align: center;
}

.location .topInfos hr {
  opacity: 0.3;
}

.location .topInfos small {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location .topInfos small svg {
  margin: 0 8px;
}

.location h3 {
  margin: 4px 0;
}

.location .container {
  width: 250px;
}

.location .container img {
  max-width: 100%;
}

.topAvaliations {
  background: var(--primary);
  color: #ffffff;
  width: 56px;
  height: 83px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  margin: -16px 0 0 16px;
  padding: 8px;
  position: absolute;
  font-weight: bold;
  z-index: 1;
}

@media (max-width: 800px) {
  .places {
    position: relative;
    height: 800px;
  }
  .places .location {
    margin: 4px;
  }
  .col:nth-child(1) {
    position: relative;
    top: 0px;
  }

  .col:nth-child(2) {
    position: relative;
    margin: 0px;
    top: 0px;
  }
}
