.tableinfo {
  border: 2px var(--secondary) groove;
  margin: 24px auto;
  width: 80%;
}

.tableinfo input,
.tableinfo textarea {
  width: 100%;
  margin: 0;
  padding: 8px;
  font-size: inherit;
  line-height: 1;
  font-family: inherit;
  color: inherit;
  background-color: #fff;
  border: 1px var(--primary) solid;
  border-radius: 4px;
  outline: 0;
}

.tableinfo textarea {
  height: 150px;
  width: 30vw;
}

.tableinfo th {
  background: var(--secondary);
  color: white;
  padding: 4px;
}

.tableinfo td {
  border: 0.2px solid #ffc494;
  padding: 2px;
}

.tableinfo td:nth-child(1) {
  background: #ffebdb;
  color: var(--secondary);
  font-weight: 600;
  min-width: 150px;
}

.tableinfo button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}

.tableinfo button:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.tableinfo td:hover {
  cursor: pointer;
  filter: brightness(0.95);
}
.confirmEdit {
  display: flex;
  align-items: center;
  gap: 4px;
  color: green;
}

.goBack {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: gray;
}

.goBack:hover {
  filter: brightness(0.5);
}

.confirmDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.confirmDelete button {
  background: rgb(219, 219, 219);
  border-radius: 5px;
  height: 30px;
  border: none;
  color: #3b3b3b;
  font-weight: bold;
  transition: 1s;
}

.confirmDelete button:first-of-type {
  background: tomato;
  border-radius: 5px;
  height: 30px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: 1s;
}

.confirmDelete button:hover:first-of-type {
  background: rgb(209, 64, 38);
}

.confirmDelete b {
  color: tomato;
}
.confirmDelete u {
  color: var(--secondary);
}

.imgPreview {
  position: absolute;
  width: 180px;
}

@media (max-width: 800px) {
  .tableinfo .attColumns {
    display: none;
  }
  .tableinfo td:nth-child(2) {
    display: none;
  }
  .tableinfo td:nth-child(3) {
    display: none;
  }
  .tableinfo td:nth-child(4) {
    display: none;
  }
  .tableinfo th:nth-child(2) {
    display: none;
  }
  .tableinfo th:nth-child(3) {
    display: none;
  }
  .tableinfo th:nth-child(4) {
    display: none;
  }
  .attHeader:nth-child(5) {
    display: none;
  }
  .attHeader:nth-child(6) {
    display: none;
  }
  .attHeader:nth-child(8) {
    display: none;
  }
}
