.tableinfo {
  border: 2px var(--secondary) groove;
  margin: 24px auto;
  width: 80%;
}

.tableinfo th {
  background: var(--secondary);
  color: white;
  padding: 4px;
}

.tableinfo td {
  border: 0.2px solid #ffc494;
  padding: 2px;
}

.tableinfo td:nth-child(1) {
  background: #ffebdb;
  color: var(--secondary);
  font-weight: 600;
  min-width: 150px;
}

.tableinfo button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}
.tableinfo td:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.confirmDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.confirmDelete button {
  background: tomato;
  border-radius: 5px;
  height: 30px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: 1s;
}

.confirmDelete button:hover {
  background: rgb(209, 64, 38);
}

.confirmDelete b {
  color: tomato;
}
.confirmDelete u {
  color: var(--secondary);
}

.imgPreview {
  position: absolute;
  width: 180px;
}

@media (max-width: 800px) {
  .tableinfo td:nth-child(2) {
    display: none;
  }
  .tableinfo td:nth-child(3) {
    display: none;
  }
  .tableinfo td:nth-child(4) {
    display: none;
  }
  .tableinfo th:nth-child(2) {
    display: none;
  }
  .tableinfo th:nth-child(3) {
    display: none;
  }
  .tableinfo th:nth-child(4) {
    display: none;
  }
}
