:root {
  --background: #f5f8fa;
  --primary: #f25d27;
  --secundary: #115d8c;
  --text: #617480;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  background-color: var(--background);
}

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
