.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4% 8%;
}

.mainContent section:nth-child(1) {
  max-width: 30%;
}

.places {
  width: 60%;
  background-color: violet;
}

.placeHolder {
  background: red;
  width: 250px;
  height: 250px;
}

.placeHolder:nth-child(2) {
  background: blue;
  margin-left: auto;
}

.mainContent strong {
  color: #123952;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 74px;
}

.mainContent p {
  color: var(--text);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.mainContent .callToAction {
  color: white;
  font-weight: bold;
  width: 400px;
  height: 72px;
  background: var(--primary);
  border: none;
  font-size: 1rem;
  border-radius: 8px;
}
.mainContent .callToAction:hover {
  filter: brightness(105%);
}

@media (max-width: 800px) {
  .mainContent section:nth-child(1) {
    max-width: 100%;
    text-align: center;
  }
  .places {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 16px;
  }
  .mainContent strong {
    font-size: 50px;
  }
  .mainContent * {
    max-width: 100%;
  }
}
