.galery {
  padding: 2rem 8%;
}

.placesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-search {
  background: #ffffff;
  box-shadow: 1px 1px 1px #dfdfdf;
  border-radius: 4px;
  padding: 8px;
  font-weight: bold;
  color: var(--primary);
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.headerSection span {
  margin: 0 4px;
}
