.containerCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  padding: 2% 8%;
}

@keyframes cardEnrance {
  from {
    transform: scale(0.9);
  }
}

.card {
  background: #f3f3f3;
  min-height: 100px;
  animation: cardEnrance 0.5s ease-in-out;
  width: 250px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #c5c5c5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  transition: 0.5s;
}

.card:hover {
  filter: brightness(1.1);
}

.card svg {
  color: var(--primary);
  font-size: 50px;
}

.card p {
  font-size: 40px;
}

.card .cardTitle {
  position: absolute;
  align-self: flex-start;
  color: var(--secondary);
  font-weight: 600;
}

.containerChart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin-top: 16px;
}

.chartDash {
  background: #f0f0f0;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #b9b9b9;
  width: 500px;
  margin: auto;
  cursor: pointer;
}

.chartDashfull {
  background: #f0f0f0;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #b9b9b9;
  width: 100%;
  margin: auto;
  cursor: pointer;
  padding: 16px;
}

.chartDash:hover {
  filter: brightness(1.02);
}

.chartDash p {
  padding: 0 16px;
  font-weight: bold;
}
