@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;600;700&display=swap');
@import './components/modalGlobal.css';

:root {
  --background: #f5f8fa;
  --primary: #f25d27;
  --secondary: #115d8c;
  --text: #617480;
  --titulos: #123952;
}

*::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}
*::-webkit-scrollbar-track {
  background: var(--background);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
  border: 3px solid var(--background);
}

h2 {
  font-style: normal;
  font-weight: 600;
  color: var(--secondary);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
}

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.footer-traveler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8ecee;
  color: #26323a;
  font-weight: bold;
  padding: 8px;
  height: 200px;
  margin-top: 200px;
}

.footer-traveler img {
  filter: saturate(0%);
  margin: 8px 0;
}

@media (min-width: 768px) {
  .footer-traveler {
    margin-top: 30vh;
  }
}

h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  color: var(--secondary);
}

h5 {
  position: relative;
  font-size: 24px;
  color: var(--secondary);
  filter: brightness(1.2);
}
h5::before {
  position: absolute;
  content: '';
  background: #26323a;
  opacity: 0.2;
  padding: 0.5px;
  width: 90%;
  bottom: 0;
  margin-bottom: -20px;
}

.smallText {
  font-size: 12px;
  color: #585f64;
}

h6 {
  font-size: 12px;
  color: var(--secondary);
  filter: brightness(1.3);
  margin: 0;
}

* {
  box-sizing: border-box;
}

.goUp {
  background: var(--primary);
  opacity: 0.5;
  border-radius: 8px 8px 0 0;
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  border: transparent;
}

.imgContainerModal {
  padding: 8px;
  border-radius: 4px 4px 0 0;
  background-color: var(--background);
}

.imgContainerModal img {
  width: 100%;
  max-height: 500px;
  border-radius: 8px;
}

.imgContainerModal button {
  background-color: var(--background);
  color: #617480;
  font-weight: bold;
  width: 40px;
  position: absolute;
  right: 0;
  height: 20px;
  border: none;
  border-radius: 2px;
}

.imgContainerModal button svg:hover {
  color: var(--primary);
}

.uploadImgModal {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--background);
  color: var(--titulos);
  font-weight: bold;
  border: none;
  height: 48px;
}
.uploadImgModal:hover {
  filter: brightness(0.95);
}

.previewReview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  border: 2px solid #d3d7da;
  border-radius: 4px;
  padding: 4px;
}
.previewReview img {
  border-radius: 90px;
  width: 90px;
}
.preExemple {
  border: 2px solid #a6b6c2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 8px;
}

.preExemple button {
  margin: 0 4px;
}

.preExemple div {
  width: 100%;
  height: 8px;
  padding: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.LoaderPage {
  margin: 24px auto;
  animation: spin 0.5s infinite linear;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: var(--primary) 2px solid;
  border-top: var(--secondary) 2px solid;
}

@keyframes modalEntrance {
  from {
    opacity: 0.1;
  }
}
