.mainContent {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4% 8%;
}

.mainContent section:nth-child(1) {
  max-width: 30%;
}

.mainContent strong {
  color: #123952;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 74px;
}

.mainContent p {
  color: var(--text);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.mainContent .callToAction {
  color: white;
  font-weight: bold;
  width: 400px;
  height: 72px;
  background: var(--primary);
  border: none;
  font-size: 1rem;
  border-radius: 8px;
}
.mainContent .callToAction:hover {
  filter: brightness(105%);
}

@media (max-width: 1050px) {
  .mainContent > section:nth-child(1) {
    display: block;
    min-width: 100%;
    text-align: center;
    margin-bottom: 80px;
  }
  .mainContent > section:nth-child(2) {
    margin-bottom: 80px;
    margin: 16px auto;
    height: 50vh;
  }
}

@media (max-width: 800px) {
  .mainContent section:nth-child(1) {
    max-width: 100%;
    text-align: center;
  }
  .mainContent strong {
    font-size: 50px;
  }
  .mainContent * {
    max-width: 100%;
  }
}
