.mainContent {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4% 8%;
}

.mainContent section:nth-child(1) {
  max-width: 30%;
}

.mainContent h1 {
  color: var(--secondary);
}

.mainContent strong {
  color: #123952;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 74px;
}

.mainContent p {
  color: var(--text);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.mainContent .callToAction {
  color: white;
  font-weight: bold;
  width: 400px;
  height: 72px;
  background: var(--primary);
  border: none;
  font-size: 1rem;
  border-radius: 8px;
}
.mainContent .callToAction:hover {
  filter: brightness(105%);
}

.hilightContainer {
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  background: var(--secondary);
  width: 100%;
  margin-top: 180px;
  height: auto;
  padding: 24px;
  overflow: hidden;
}

.hilightContainer .newPlacesCard {
  background: var(--background);
  border: 1px solid var(--primary);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  margin: 2px;
}

.hilightContainer h2 {
  color: #ffffff;
}
.hilightContainer .newPlacesCard h6 {
  font-size: 25px;
  margin: 16px;
}

.hilightContainer .newPlacesCard span {
  background: var(--primary);
  color: white;
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  top: -10px;
  left: -1px;
  box-shadow: 1px 1px 2px #00000081;
}

.hilightContainer .newPlacesCard img {
  width: 300px;
  height: 230px;
  border-radius: 8px;
  transition: 0.5s;
}

.hilightContainer .newPlacesCard img:hover {
  transform: scale(1.05);
}

@keyframes move {
  from {
    background-position-x: -900px;
  }
}

.newsletter {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  animation: move 50s infinite linear alternate;
  background: url('/images/bgHomeNews.svg');
  background-attachment: fixed;
  padding-bottom: 100px;
}

.newsletter div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.newsletter h2 {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.newsletter div button {
  background: #5fc462;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  height: 50px;
  width: 200px;
  padding: 8px;
}
.newsletter div button:hover {
  filter: brightness(1.1);
}

.newsletter div input {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #ececec;
  border: solid 1px #5fc462;
}

.newsletter div input:hover {
  filter: brightness(1.1);
}

@media (max-width: 1050px) {
  .newsletter,
  .newPlaces * {
    text-align: center;
    padding: 8px;
  }

  .mainContent > section:nth-child(1) {
    display: block;
    min-width: 100%;
    text-align: center;
    margin-bottom: 80px;
  }
  .mainContent > section:nth-child(2) {
    margin-bottom: 80px;
    margin: 16px auto;
    height: auto;
  }
}

@media (max-width: 800px) {
  .newsletter,
  .newPlaces * {
    text-align: center;
  }
  .mainContent section:nth-child(1) {
    max-width: 100%;
    text-align: center;
  }
  .mainContent strong {
    font-size: 50px;
  }
  .mainContent * {
    max-width: 100%;
  }
}
